body{
font-family:Arial;
background:#0f172a;
color:white;
padding:20px;
}

h1{
text-align:center;
}

button{
padding:10px;
margin:5px;
cursor:pointer;
}

#progressBar{
height:22px;
background:#334155;
border-radius:10px;
overflow:hidden;
margin:10px 0;
}

#progressFill{
height:100%;
background:#22c55e;
width:0%;
}

#search{
width:100%;
padding:10px;
margin:20px 0;
}

#cardGrid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
gap:10px;
}

.card{
background:#1e293b;
padding:10px;
border-radius:10px;
cursor:pointer;
}

.card.owned{
border:2px solid #22c55e;
}

.type{
color:#fbbf24;
font-size:12px;
}